html{
  height: 100%;
  width: 100%
}

body {
  color: rgb(143, 47, 47);
  height: 100%;
  width: 100%
}

h1 {
  color: Black;
  font-family: monospace;
}


h2 {
  color: rgb(94, 179, 188);
  font-family: monospace;
}

.outer-cont {
  height: 50%;
  width: 50%;
  background-color: grey;
}

.inner-cont {
  /* 50% of the screen */
  height: 50vh;  
  /* height: 50%;   */
  width: 50%;
  background-color: black;
}